<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div id="app">

			<ul>
				<li><a href='#' @click="handleChange('Multas')">Multas</a></li>
				<li><a href='#' @click="handleChange('Reg_multa')">Registrar</a></li>
			</ul>

		<section>
			<div v-if="option === 'Multas'">
				<table v-if="typeof multas === 'object' && multas.length">
				  <thead>
				    <tr>
				      <th>Patente</th>
				      <th>Vehículo</th>
				      <th>Valor</th>
				      <th>Intereses</th>
				      <th>Registro multas impagas</th>
				      <th>Subtotal</th>
				    </tr>
				  </thead>
				  <tbody v-for='multa in multas'>
				    <tr>
						<td>{{ multa.patente }}</td>
						<td>{{ multa.vehiculo }}</td>
						<td>{{ multa.valor }}</td>
						<td>{{ multa.intereses }}</td>
						<td>{{ multa.reg_multas_impagas }}</td>
						<td>{{ multa.subtotal }}</td>
				    </tr>
				  </tbody>
				</table>
				<span v-else>
					Pedimos disculpas, no se han podida cargar datos.
				</span>
			</div>

			<div v-else>
				<form @submit='handleSubmit'>
				  <label>
				    Patente: <br/>
				    <input @change='handleInput' type="text" name="patente" autofocus />
				  </label> <br/><br/>
				  <label>
				    Vehículo: <br/>
				    <input @change='handleInput' type="text" name="vehiculo" />
				  </label> <br/><br/>
				  <label>
				    Valor: <br/>
				    <input @change='handleInput' type="number" name="valor" />
				  </label> <br/><br/>
				  <label>
				    Intereses: <br/>
				    <input @change='handleInput' type="number" name="intereses" />
				  </label> <br/><br/>
				  <label>
				    Registro multas impagas: <br/>
				    <input @change='handleInput' type="number" name="reg_multas_impagas" />
				  </label> <br/><br/>
				  <label>
				    Subtotal: <br/>
				    <input @change='handleInput' type="number" name="subtotal" />
				  </label> <br/><br/>
				  <input type="submit" value="Ingresar" />
				</form>
			</div>
		</section>

	</div>
	<script src="https://unpkg.com/vue@next"></script>
	<script>
		const { createApp, ref } = Vue;
		createApp({
			setup(){
				const multas = ref([])
				const option = ref('Multas')
				const multa = ref({})

				fetch('http://localhost:3000/multas/mysql')
				  .then(response => response.json())
				  .then(jsonMultas => multas.value = jsonMultas);

				return{
					multas,
					option,
					handleChange(changeOption) {
						option.value = changeOption;
					},
					handleSubmit(e) {
						e.preventDefault()
						console.log(multa.value);
						// multas.value.push(multa.value)

						fetch('http://localhost:3000/multas/mysql', {
						  method: 'POST', 
						  body: JSON.stringify(multa.value), 
						  headers:{
						    'Content-Type': 'application/json'
						  }
						}).then(res => res.json())
						.catch(error => console.error('Error:', error))
						.then(response => console.log('Success:', response));
					},
					handleInput(event) {
						const { value, name } = event.target;
						multa.value = { ...multa.value, [name]: value };
					}
				}
			}
		}).mount('#app')
	</script>
</body>
</html>