<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<ul v-for='multa in multas' v-if="typeof multas === 'object' && multas.length">
			{{ multa.patente }}
			{{ multa.vehículo }}
			{{ multa.valor_permiso }}
		</ul>
		<span v-else>
			Por favor sea paciente, pedimos disculpas, no se han podida cargar datos.
		</span>
	</div>
	<script src="https://unpkg.com/vue@next"></script>
	<script>
		const { createApp, ref } = Vue;
		const app = createApp({
			setup(){
				const multas = ref([])
				fetch('http://localhost:3000/multas')
				  .then(response => response.json())
				  .then(json => multas.value = json);
				return{
					multas
				}
			}
		})
		app.mount('#app')
	</script>
</body>
</html>